@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";
@import "tailwindcss-primeui";

@font-face {
  font-family: "DOS";
  src: local("DOS"), url("./fonts/Perfect DOS VGA 437 Win.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "IBM";
  src: local("IBM"), url("./fonts/Ac437_IBM_VGA_8x16.ttf") format("truetype");
  font-weight: normal;
}

body {
  background-color: black;
  color: white;
  font-family: "VT323", monospace;
  letter-spacing: 1px;
  font-size: 1.3em;
}